Package: com.congcq.hynisloader
Name: HynisLoader
Version: 1.4b
Architecture: iphoneos-arm
Description: MCBE tweak
Maintainer: congcq
Author: congcq
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
